body {
    background-color: black;
    text-align: center;
    color: darkturquoise;
    background-image: url("images/moon.gif");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Aladin', cursive;
}

.story-name {
    padding-top: 5%;
}

#sheet {
    width: 300px;
    height: 450px;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(25, 25, 112, 0.8);        
    color: snow;
    border: 2px;
    border-color: snow;
    position: relative;
    font-family: 'Nanum Brush Script', cursive;
    text-align: left;
}

#poem-1 {
    text-align: left;
    padding:10px;
    font-family: 'Nanum Brush Script', cursive;
}

#button {
    background-color: black;
    text-align: center;
    color: darkturquoise;
    text-align: center;
    border: 1px;
    border-color: darkturquoise;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: 'Aladin', cursive;
}

.hidden {
    display: none;
}

/*-------Style Classes----*